body {
  margin: 0;
  padding: 0;
  /* background-color: #242424; */
  color: white;
}

#main {
  display: flex;
}

#map {
  width: 100%;
  height: 100vh;
}

.content {
  position: absolute;
  left: 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding-left: 20px;
  height: 100%;
  /* width: 24vw; */
  /* background-color: rgba(0, 0, 0, 0.6); */
}

.title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.selection {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  z-index: 110;
}

.selection p {
  margin: 0;
  font-weight: 600;
}

#inandoutTitle {
  margin-bottom: 5px;
}

.inout {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 16px;
}

.years {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 20px 0 5px 0;
}

#yearsSelection {
  margin-top: 0px;
  background-color: transparent;
}

.btn {
  display: flex;
  align-items: center;
  margin: 0 5px;
  height: 2.8vh;
  width: 50px;
  border-radius: 360px;
  background-color: #ffc966;
  z-index: 1;
  cursor: pointer;
}

.btn-in {
  display: flex;
  align-items: center;
  justify-content: end;
}

.btn-circle {
  height: 2.2vh;
  width: 2.2vh;
  background-color: white;
  border-radius: 50%;
  z-index: 2;
}

select {
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 18px;
}

.info {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 20px;
  width: 550px;
  background-color: rgba(0, 0, 0, 0.7);
}

.info p {
  font-size: 18px;
}

.num-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#refugeesNum,
#refugeesPer {
  margin: 5px 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: 2px;
  /* color: "red"; */
}

#refugeesPerNum {
  margin-right: 1.5px;
}

.chartTitle {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 900;
}

#barChartContainer {
  position: absolute;
  bottom: 0;
  left: 0px;
  margin-bottom: 40px;
  padding-left: 20px;
  height: 70vh;
  width: 370px;
  background-color: rgba(0, 0, 0, 0.5);
}

#lineChartContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20px;
  height: 100vh;
  width: 420px;
  background-color: rgba(0, 0, 0, 0.5);
}

#lineChart {
  height: 85%;
}

#barChart {
  height: 85%;
}

.tooltip {
  position: absolute;
  z-index: 1000;
  color: white;
  visibility: hidden;
  cursor: pointer;
}

/* #lineChart {
  border: 1px solid red;
} */

/* .yearOriginated {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
}

.originatedGrid {

  width: 180px;
  height: 160px;
}

.yearHeaded {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
}

.headedGrid {
  border: 1px solid yellow;
  width: 180px;
  height: 160px;
} */
